<nav th:fragment="navbar" class="shadow-lg">
    <div class="container mx-auto flex justify-between h-12">
        <ul class="flex justify-start gap-5">
            <li class="flex items-center">
                <a href="#" class="flex items-end gap-2">
                    <h1 class="text-xl font-bold">
                        <span class="text-blue-500">Nhee</span>
                        <span class="text-orange-500">Jods</span>
                    </h1>
                    <span class="text-gray-500 text-[10px] mb-[2px]">DEVELOPMENT VERSION</span>
                </a>
            </li>
        </ul>
        <ul class="flex justify-end gap-5">
            <li class="flex items-center">
                <button class="bg-blue-500 w-25 py-1 text-white rounded-lg cursor-pointer transition hover:bg-blue-400">login</button>
            </li>
            <li class="flex items-center">
                <button class="bg-orange-500 w-25 py-1 text-white rounded-lg cursor-pointer transition hover:bg-orange-400">register</button>
            </li>
        </ul>
    </div>
</nav>